.fa-size{
    font-size: 100px;
    color: #1A1830;
 }
 
    .exhibitor-btn{
   padding: 7px 8px
   font-size: 12px;
   line-height: 16px;
   height: 30px;
 }
 .exhibitor-btn {
     padding: 7px 8px;
     font-size: 12px;
     line-height: 16px;
     height: 30px;
 }
  .btn {
   color: white!important;
   background: #2d9ed6;
   }
   .btn:focus {
     outline: none; }
   .btn:hover {
     color: #fff;
     background: #d20055;
     -webkit-box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.15);
     box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.15); }
   .btn.fill {
     background: transparent;
     padding: 0 25px;
     color: #fff;
     margin-left: 20px;
     border: 2px solid #fff; }
     .btn.fill:hover {
       background: #e7015e;
       border-color: #e7015e; }
   .btn.btn-round {
     border-radius: 36px;
     -webkit-border-radius: 36px;
     -ms-border-radius: 36px; }
  .btn.white{
    background: white;
    color: #0b0b0b;
  }
   .btn.purple{
    background: #930FB0!important;
   }
   .btn.blue{
    background: #113DE4!important;
   }
   .btn.orange{
    background: #F94B18!important;
   }
 
 .btn-link {
   font-size: 16px;
   font-weight: 700;
   color: #222222;
   text-decoration: none !important; }
   .btn-link i {
     margin-left: 6px;
     position: relative;
     top: 2px; }
   .btn-link:hover {
     color: #e7015e; }
 
     .ts-footer-social ul {
   padding: 0; }
   .ts-footer-social ul li {
     display: inline-block;
     list-style: none; }
     .ts-footer-social ul li a {
       display: block;
       height: 40px;
       width: 40px;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -ms-border-radius: 50%;
       border: 1px solid #525164;
       text-align: center;
       color: #ffffff;
       font-size: 20px;
       padding: px 0;
       margin: 0 px; }
       .ts-footer-social ul li a:hover {
         color: #FFFFFF;
         background: #2d9ed6;
         border-color: #0196da;
         -webkit-transform: rotate(360deg);
         -ms-transform: rotate(360deg);
         transform: rotate(360deg); 
      }
      .BackTo {
   background: #2d9ed6 none repeat scroll 0 0;
   border-radius: 5%;
   bottom: 35px;
   color: #979797;
   cursor: pointer;
   height: 44px;
   position: fixed;
   right: 14px;
   text-align: center;
   width: 44px;
   z-index: 9;
   display: block;
   padding: 8px 0; }
   .BackTo a {
     color: #fff;
     font-size: 20px;
     font-weight: 700;
     margin-top: 2px; 
  }
  .navbar: hover{
    background-color: blue;
 
  }
  .nav-link: hover{
 background-color: blueviolet;
  }
  .horizontal-rule{
    border: 1px solid #1A1830;
    border-radius: 5px;
  }